* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 0 2rem;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 2rem;
    padding: 3rem 0;
    transition: transform 0.5s ease;
}

.service {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    transform: translateY(20px);
    opacity: 0;
    animation: fadeIn 0.8s forwards;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.service h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #b711e0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.service-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #555;
    text-align: justify;
    line-height: 1.8;
}

.read-more {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1rem;
    position: relative;
    top: 100px;
    padding: 0.3rem 0.7rem;
    transition: color 0.3s ease;
    display: inline-block;
}

.read-more::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b711e0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.read-more:hover::after {
    transform: scaleX(1);
}

.read-more:hover {
    color: #000;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 28px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Hover effects */
.service:hover .service-description {
    /* color: #555;
    font-size: 1.05rem;
    transition: all 0.3s ease; */
}

.service:hover h2 {
    color: #000;
    transition: all 0.3s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 90%;
    }
}
